* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.tc {
    font-size: 40px;
    color: #1E90FF; 
    background-color: yellow;
    width: 400px;
    height: 50px;
    text-align: center;
}
.c1:hover {
    color: rgb(142, 14, 36);
}
.c2:hover {
    color: rgb(142, 14, 36);
}
.c3:hover {
    color: rgb(142, 14, 36);
}
.c4:hover {
    color: rgb(142, 14, 36);
}
.c5:hover {
    color: rgb(142, 14, 36);
}
.c6:hover {
    color: rgb(142, 14, 36);
}
.container {
    padding: 0 60px;
}
.tft2 {
    font-size: x-large;
    background-color: aqua;
}
.d-flex {
    display: flex;
    align-items: center;
}
.justify-space-between {
    justify-content: space-between;
}
.li {
    list-style: none;
    margin-left: 20px;
}
a {
    text-decoration: none;
}

.hh {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/05/52/3556273a597fb81.jpg);
}
.hh2 {
    text-align: center;
    color: aqua;

}
h1 {
   background-color: orange; 
   margin-bottom: 20px;
}
h2 {
    background-color: red;
    width: 50%;
    margin-top: 20px;
    font-size: 40px;
    padding: 10px 0;
}
.a {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.b {
    text-align: center;
    font-size: 40px;
    background-color: green;
}
input {
    width: 350px;
    height: 30px;
}
.dn {
    width: 50%;
    height: 185px;
    margin-right: 20px;
}
.dn2 {
    background-color: pink;
}
.dk {
    color: green; 
    font-size: x-large;
}
.butdndk {
    background-color: aqua;
    width: 100px;
    height: 50px;
}
.dk2 {
    background-color: pink;
}
.dk3 {
    width: 50%;
    left: 10%;
    top: 500px;
}

.kz {
    background-color:yellow ;
    width: 80px;
    height: 80px;
}
.ad {
    font-size: 16px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}
.image {
    display: flex;
    
}
.sp {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230113/pngtree-light-blue-minimalist-business-meeting-background-image_1514960.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mh {
    color: brown;
    text-align: center;
    margin: 10px 0;
}
.banc {
    font-size: 18px;
    color: white;
}
.tongct {
    background-image: url(https://cdn.123job.vn/123job/uploads/2021/10/02/2021_10_02______13bcc6f9a0afb84e83be29865fae62ba.jpg);
    color: yellow;
    font-family:'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}    
.gt {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    
}
.gt2 {
    color: white;
    font-size: 22px;
}
body {
    text-align: center;
}
.nentof {
    background-color: aqua;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 20px; 
}
.bmh {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 40px;
}
.cs {
    text-align: justify;
    font-weight: 600;
    font-size: 30px;
    background-color: rgb(237, 222, 205);
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.csgh {
    text-align: justify;
    font-size: 18px;
    margin-left: 20px;
}
.dh {
    margin-left: 20px;
    font-weight: 600;
}
